.DonPage{
    height:1200px;
}
.map-area {
  height: 50%;
  width: 50%;

  background: unset;
}
.donatePage {
  background-color: rgb(5, 19, 65);
  color: white;
}
.donateStat {
  font-size: 16px;
}
.leftItem {
    float:left;
    margin-right:280px;
    margin-bottom:25px;
}
.rightItem {
    color:white;
    border-color: white;
    float: right;
    font-size:20px;
    padding:5px;

    margin-bottom:25px;
}
* {
  background: unset;
}
.mapzone {
  height: 650px;
  width: 50%;
  background: unset !important;
}
.leftColumn {
  background-color: rgb(5, 19, 65);
  color: white;
}
.DonTitle {
  color: white;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.underline {
  height: 3px;
  width: 600px;
  margin-bottom: 25px;
  margin-left: 25px;
  background-color: white;
}
.listed {
  color: white;
  font-size: 20px;
  padding-left: 25px;
  margin-bottom: 25px;
  display: inline-block;
}
.filler{
    background-color: rgb(5, 19, 65);
    height:100%
}
