.addInvPage {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invInput {
  background-color: white;
  height: 50px;
  border-radius: 12px;
  padding-left: 8px;
  margin: 15px;
}
.saveInvButt {
  width:150px;
  height: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  margin: 35px;
  background-image: linear-gradient(
    to top left,
    rgb(38, 0, 153),
    rgb(71, 52, 145)
  );
  margin-left:370px;

}
.cancelInvButt{
  background-image: linear-gradient(
    to top left,
    rgb(40, 55, 139),
    rgb(98, 142, 209)
  );
  color:white;
  padding:20px;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  text-decoration: none;
  margin-left:390px;
}