.addInvPage {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.invInput {
  background-color: white;
  height: 50px;
  width: 40%;
  border-radius: 12px;
  padding-left: 8px;
  margin: 15px;
}
.saveInvButt {
  width: 10%;
  height: 3em;
  background-color: rgb(71, 52, 145);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  background: rgb(71, 52, 145);
  margin: 35px;
}
