* {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  background: rgb(5, 19, 65);
  background-blend-mode: darken;
  background-size: cover;
}

.nav-list {
  display: flex;
  align-items: center;
  padding-left: 870px;
  padding-right: 50px;
  margin: 0px;
}
.dropbtnNav {
  border: 0px;
}
.logo {
  justify-content: right;
  align-items: right;
}

.logo img {
  width: 270px;
  border-radius: 50px;
}

.nav-list li {
  list-style: none;
  padding: 40px 40px;
}
.ulNav {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.nav-list li:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.profIcon {
  width: 10px !important;
  height: 10px !important;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: url("./Icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: grey;
}

.rightnav {
  width: 30%;
  text-align: right;
}
.dropdown {
  display: inline-block;
  position: relative;
  background-color: rgb(5, 19, 65);
  border: none;
  height: 3em;
  color: grey;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;

  padding-top: 10px;
  height: 20px;
}
