* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
    background-color: rgb(5, 19, 65);
    font-family: LeagueSpartan;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cover {
    background-color: rgb(5, 19, 65);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.loginpage {
    margin: auto;
    width: 35%;
    padding: 10px;
    padding-top: 40px;
}

.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google {background-image: url("./google.png");}
.facebook {background-image: url("./facebook.png");} 

.lgInput {
    border: none;
    background-color: white;
    height: 4em;
    width: 80%;
    border-radius: 0.35em;
    text-align: center;
    padding: 2em;
}
.dropdown {
    display: inline-block;
    position: relative;
    background-color: white;
    border: none;
    height: 3em;
    color:grey;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    backgrond-color:white;
  }
  .dropdown-content a {
    display: block;
    background-color: white;
    color: grey;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

input:focus {
    outline-color: white;
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: rgb(71, 52, 145);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.text {
    position: relative;
    bottom: 0.5%;
}

.signup{
    color: white;
}
